extends /templates/base-flat

block page_nav
  include ./teacher-dashboard-nav.jade

block content
  .container
    h1(data-i18n="courses.title")
    h2(data-i18n="courses.subtitle")
  
  .courses.container
    - var courses = view.courses.models;
    - var i = 0;
    while i < courses.length
      - var course = courses[i];
      - i++;
      .course.row
        .col-sm-9
          +course-info(course)
<<<<<<< HEAD
        .col-sm-3
          .play-level-form
            .form-group
              label.control-label
                span(data-i18n="courses.select_language")
                | :
                select.form-control
                  // TODO: Automate this list @scott
                  option(value="python")
                    | Python
                  option(value="javascript")
                    | JavaScript
                  option(value="coffeescript")
                    | CoffeeScript (Experimental)
                  option(value="clojure")
                    | Clojure (Experimental)
                  option(value="lua")
                    | Lua
                  option(value="java")
                    | Java
            .form-group
              label.control-label
                span(data-i18n="courses.select_level")
                | :
                select.form-control
                  // TODO: Automate this list @scott
                  option(value="TODO")
                    | 1. Dungeons of Kithgard
            a.btn.btn-large.btn-primary
              span(data-i18n="courses.play_level")
          .clearfix
      
            
            
=======
        if i < courses.length
          - course = courses[i];
          - i++;
          .col-md-6
            +course-info(course)

block footer

mixin classroom(classroom)
  .row
    - var classMemberCount = classroom.get('members') ? classroom.get('members').length : 0;
    if classMemberCount > 0
      .col-md-8
        p
          span.spr.class-name= classroom.get('name')
          if classroom.get('aceConfig') && classroom.get('aceConfig').language === 'javascript'
            span.spr.class-name (JavaScript)
          else
            span.spr.class-name (Python)
          a.edit-classroom-small(data-i18n="courses.edit_settings", data-classroom-id="#{classroom.id}")
          if classMemberCount === 1
            p There is #{classMemberCount} student in this class.
          else
            p There are #{classMemberCount} students in this class.
          .active-courses(data-i18n="courses.active_courses")
          - var courseInstances = view.courseInstances.where({classroomID: classroom.id});
          table.active-course-container
            each courseInstance in courseInstances
              tr
                +course(courseInstance, classMemberCount)
    else
      .col-md-12
        p
          span.spr.class-name= classroom.get('name')
          if classroom.get('aceConfig') && classroom.get('aceConfig').language === 'javascript'
            span.spr.class-name (JavaScript)
          else
            span.spr.class-name (Python)
          a.edit-classroom-small(data-i18n="courses.edit_settings", data-classroom-id="#{classroom.id}")
        .no-students(data-i18n="courses.no_students")
        .text-center
          button.btn.btn-info.uppercase.btn-add-students(data-classroom-id="#{classroom.id}", data-i18n="courses.add_students1")
        br
    if classMemberCount > 0
      .col-md-4.text-center
        .class-count= classMemberCount
        .active-courses(style='margin:6px;', data-i18n="courses.students1")
        a.btn.btn-info.uppercase(href='/courses/#{classroom.id}', data-i18n="courses.view_edit")
  .row
    .col-md-12
      .divider

mixin course(courseInstance, classMemberCount)
  - var courseMemberCount = courseInstance.get('members') ? courseInstance.get('members').length : 0;
  if courseMemberCount > 0
    - var course = view.courses.get(courseInstance.get('courseID'));
    td
      span.course-name= course.get('name')
    td
      span.course-enrolled
        span #{courseMemberCount} / #{classMemberCount}
        span.spl(data-i18n="courses.students_assigned")

>>>>>>> refs/remotes/codecombat/master
mixin course-info(course)
  .course-info
    .text-h2.semibold
      = course.get('name')
    p= course.get('description')
    p.concepts.semibold
      span(data-i18n="courses.concepts_covered")
      | : 
      each concept in course.get('concepts')
        span(data-i18n="concepts." + concept)
        if course.get('concepts').indexOf(concept) !== course.get('concepts').length - 1
          span.spr ,
    a.btn.btn-large.btn-primary(href="TODO")
      span(data-i18n="courses.print_guide")
    a.btn.btn-large.btn-primary(href="TODO")
      span(data-i18n="courses.view_guide_online")
